// Create a file named "secrets.h" in your directory with the following contents to set your WIFI Details.
// secrets.h is listed in .gitignore and will never be committed.

#pragma once

const char *ssid     = "YOUR_WIFI_SSID";
const char *password = "YOUR_WIFI_PASSWORD";
